.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #ab3e56;
}
.table-view {
    -fx-font-family: Kodchasan;
}
.table-view .cell {
    -fx-text-fill: #1f2023;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
}
.table-view .column-header .label{
    /*-fx-background-color: ab3e56;
    -fx-border-color: ff7c9a;*/
    -fx-text-fill: #ffe7ed;
    -fx-font-size: 13;
    -fx-alignment: CENTER_LEFT;
}